html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#calculator {
    display: flex;
    flex-direction: column; 
    width: 200px;
    height: 400px;
    align-self: center;
    border-radius: 10px;
    border: black 2px solid;
}

#display {
    border: black 2px solid;
    height: 200px;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#history {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    font-weight: normal;
}

/* The selector below fixes the items in history to the bottom.
   I found the solution here: https://stackoverflow.com/a/37515194 */
#history > :first-child {
    margin-top: auto !important;
}

#keypad {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
}

#keypad button {
    flex-basis: 25%;

}

#keypad #evaluate {
    flex-basis: 50%;
}