html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#calculator {
    display: flex;
    flex-direction: column; 
    width: 200px;
    height: 400px;
    align-self: center;
}

#display {
    border: black 2px solid;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
}

#history {
    flex-basis: 80%;
}

#output {
    flex-basis: 20%;
}

#keypad {
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
}

#keypad button {
    flex-basis: 25%;
}

#keypad #evaluate {
    flex-basis: 50%;
}